<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Firebase</h1><br />
    <div id="containerSit"></div>
    <div id="containerStd"></div>

    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyAcigtFJPahXt3cgvnCX3NiIBvJDkBBOTQ",
            authDomain: "study-timer-9744a.firebaseapp.com",
            databaseURL: "https://study-timer-9744a-default-rtdb.firebaseio.com",
            projectId: "study-timer-9744a",
            storageBucket: "study-timer-9744a.appspot.com",
            messagingSenderId: "483731810609",
            appId: "1:483731810609:web:e36d1559a8ef62c3032810",
            measurementId: "G-RQ3WL1LX1G"
        };
        // Initialize Firebase
            firebase.initializeApp(firebaseConfig);

            // 데이터베이스 변수
            const database = firebase.database();
            // 데이터베이스 경로에 대한 이벤트 리스너 설정
            database.ref('/sit').on('child_added', function (snapshot) {
                var newData = snapshot.val();
                displayData(newData, 'containerSit', 'start-time'); // 'start-time' 데이터를 표시
            });
            database.ref('/std').on('child_added', function (snapshot) {
                var newData = snapshot.val();
                displayData(newData, 'containerStd', 'stop-time'); // 'stop-time' 데이터를 표시
            });

            // 데이터를 표시하는 함수
            function displayData(data, containerId, timeType) {
                const container = document.getElementById(containerId);

                const timeArray = data[timeType];
                const timeDate = new Date(timeArray[0], timeArray[1] - 1, timeArray[2], timeArray[3], timeArray[4], timeArray[5]);

                if (!isNaN(timeDate.getTime())) {
                    const formattedDate = timeDate.toLocaleString('ko-KR', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' });

                    const table = document.createElement('table');
                    const rowLabel = table.insertRow();
                    const rowData = table.insertRow();

                    const labelCell = rowLabel.insertCell();
                    labelCell.textContent = `${timeType === 'start-time' ? 'Start Time' : 'Stop Time'}:`;

                    const dataCell = rowData.insertCell();
                    dataCell.textContent = formattedDate;

                    container.appendChild(table);
                } else {
                    console.error('Invalid Date');
                }
            }

    </script>
</body>

</html>